body {
    background-color: #ffbb69;
}

@media (max-width: 1080px) {

    body {
        background-color: #49cbc1;
    }

}

@media (max-width: 550px) {

    body {
        background-color: #444247;
    }

}

@media (max-width: 400px) {

    body {
        background-color: #ffda8b;
    }

}
